* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
}

.row {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    align-content: center;
    justify-content: center;

}

#snakeboard {
    border: 1rem ridge gray;
}

#score {
    text-align: center;
    font-size: 100px;
    color: #fff;   
    margin: 25px; 
    margin-top: 180px;
}

canvas {
    background-color: lightgray;
    width: 500px;
    height: 500px;
}
/*
.button-box div {
    margin-top: 2rem;
    margin-left: 52vw;
    position:relative
}
*/

/* Button */
.button-box {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2rem;
    margin: 35px;
    top: 42%;
    left: 25%;
}

#replay,
#play, 
#pause {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.7), rgb(255, 217, 0) 80.71%);
    color: rgb(69, 65, 65);
    width: 80px;
    height: 80px;
    border-radius: 50%;

}


#play:active,
#pause:active,
#replay:active {
    width: 78px;
    height: 78px;
}

#play:hover,
#pause:hover,
#replay:hover {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.7), rgb(255, 153, 0) 80.71%);
}

/* Responsive Design*/
@media (orientation: landscape) {

}

@media all and (min-width: 200px) and (max-width: 620px) {
    canvas {
        width: 340px;
        height: 300px;
    }

    #score {
        font-size: 30px;
        padding-right: 15px;
        justify-items: center;
        transform: translateY(50%, -50%);
    }

    #replay,
    #play, 
    #pause {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
    }

    .button-box {
        align-items: center;
        flex-flow: row;
    }

    .row {
        flex-direction: column;
    }
}