* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
}

.row {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    align-content: center;
    justify-content: center;
    top: 250px;
}

#snakeboard {
    border: 1rem ridge gray;
}

#score {
    text-align: center;
    font-size: 100px;
    color: #fff;   
    margin: 25px; 
    margin-top: 180px;
}

canvas {
    background-color: lightgray;
    width: 900px;
    height: 800px;
}

/* Button */
.button-box {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2rem;
    margin: 35px;
    top: 42%;
    left: 25%;
}

#replay,
#play, 
#pause,
#left,
#top,
#right,
#bottom {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.7), rgb(255, 217, 0) 80.71%);
    color: rgb(69, 65, 65);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.move-button-box {
    visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}



.top-bottom {
    display: flex;
    flex-direction: column;
}

#top,
#bottom {
    margin: 8px;
}

.left-button, .right-button {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-top: 48px
}

    #play:active,
    #pause:active,
    #replay:active,
    #pause:active,
    #left:active,
    #top:active,
    #right:active,
    #bottom:active {
        width: 79px;
        height: 79px;
    }

#play:hover,
#pause:hover,
#replay:hover {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.7), rgb(255, 153, 0) 80.71%);
}

/* Responsive Design*/


@media all and (min-width: 320px) and (max-width: 768px) {
    canvas {
        width: 340px;
        height: 300px;
    }

    #score {
        font-size: 30px;
        padding-right: 15px;
        justify-items: center;
        transform: translateY(50%, -50%);
    }

    .row {
        padding-left: 8%;
    }

    #replay,
    #play, 
    #pause,
    #left,
    #top,
    #right,
    #bottom {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.8rem;
        font-weight: bolder;
        text-align: center;
    }

    #play:active,
    #pause:active,
    #replay:active,
    #pause:active,
    #left:active,
    #top:active,
    #right:active,
    #bottom:active {
        width: 39px;
        height: 39px;
    }

    .move-button-box {
        display: flex;
        flex-shrink: inherit;
        visibility: visible;
    }

    .button-box {
        align-items: center;
        flex-flow: row;
    }

    .row {
        flex-direction: column;
    }
}

