* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow:auto;
}

body {
    background-color: black;
}

.row {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-28%);
    transform-origin: 0 0;
    top: 220px;
    flex-direction: column;
}

#snakeboard {
    border: 1rem ridge gray;
}

#score {
    text-align: center;
    font-size: 80px;
    color: #fff;    
    margin-top: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
} 

canvas {
    background-color: lightgray;
    width: 500px;
    height: 500px;
}

/* Button */
.button-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

#replay,
#play, 
#pause,
#left,
#top,
#right,
#bottom {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.7), rgb(255, 217, 0) 80.71%);
    color: rgb(69, 65, 65);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 3rem;
    text-align: center;
}


.move-button-box {
    visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}


#top,
#bottom {
    margin: 8px;
}


#play:hover,
#pause:hover,
#replay:hover {
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.7), rgb(255, 153, 0) 80.71%);
}

/* Responsive Design*/


@media all and (min-width: 320px) and (max-width: 812px) {
    .row {
        transform: translate(-50%, -40%);
        padding-left: 8%;
    }
    canvas {
        width: 340px;
        height: 300px;
    }

    #score {
        font-size: 45px;
        justify-content: center;
        transform: translateY(50%, -50%);
    }

    #replay,
    #play, 
    #pause,
    #left,
    #top,
    #right,
    #bottom {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        font-size: 2.6rem;
        font-weight: bolder;
        text-align: center;
        position:static
    }

    .top-bottom {
        display: flex;
        flex-direction: column;
    }

    .move-button-box {
        display: flex;
        flex-shrink: inherit;
        visibility: visible;
        margin-top: 15px;
    }
   
    .left-button, .right-button {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-top: 64px
    }

    .button-box {
        align-items: center;
        flex-flow: row;
    }

    .row {
        flex-direction: column;
    }
}


